@model IEnumerable<WEBBANGDIA.Models.LienHe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.MaLH)*@Mã liên hệ
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TaiKhoan.TenTK)*@Tên tài khoản
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TieuDe)*@Tiêu đề
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NoiDung)*@Nội dung
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.YeuCau.TenYeuCau)*@Tên yêu cầu
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NgayTao)*@Ngày tạo
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.An)*@Ẩn
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NgayAn)*@Ngày ẩn
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaLH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaiKhoan.TenTK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TieuDe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YeuCau.TenYeuCau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.An)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayAn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
