@model WEBBANGDIA.Models.BangDia

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Băng Đĩa</legend>
    <div class="display">
        <div class="display-label">
            Mã băng đĩa
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.MaBD)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Tên băng đĩa
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TenBD)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Loại
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LoaiDia.TenLoai)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Hàng sản xuất
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.HangSanXuat.TenHSX)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Danh mục
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DanhMuc.TenDanhMuc)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Chất lượng
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ChatLuong.TenCL)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Tiêu đề
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TieuDe)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Nội dung
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NoiDung)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Ảnh
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AnhDaiDien)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Dung lượng tổng
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DungLuongTong)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Giá
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Gia)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Giá khuyến mại
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.GiaKM)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Số lượng bộ đĩa
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.SoLuongBoDia)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Số lượng hiện còn
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.SoLuongHienCon)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Trạng thái
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TrangThai)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Ngày tạo
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NgayTao)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Ẩn
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.An)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Ngày cập nhật
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NgayCapNhat)
        </div>
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
