@model WEBBANGDIA.Models.BangDia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Băng Đĩa</legend>
    <div class="display">
        <div class="display-label">
            Mã băng đĩa:
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.MaBD)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Tên băng đĩa:
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TenBD)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Loại đĩa:
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LoaiDia.TenLoai)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Hãng sản xuất:
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.HangSanXuat.TenHSX)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Danh mục:
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DanhMuc.TenDanhMuc)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Chất lượng:
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ChatLuong.TenCL)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Tiêu đề
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TieuDe)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Nội dung phát
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NoiDung)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            Ảnh đại diện
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AnhDaiDien)
        </div>
    </div>
    <div class="display">
        <div class="display-label">Dung lượng: </div>
        <div class="display-field">@Html.DisplayFor(model => model.DungLuongTong)</div>
    </div>
    <div class="display">
        <div class="display-label">Giá gốc:</div>
        <div class="display-field"> @Html.DisplayFor(model => model.Gia)</div>
    </div>
    <div class="display">
        <div class="display-label">Giá khuyễn mãi:</div>
        <div class="display-field"> @Html.DisplayFor(model => model.GiaKM)</div>
    </div>
    <div class="display">
        <div class="display-label">Số lượng đĩa/bộ: </div>
        <div class="display-field">@Html.DisplayFor(model => model.SoLuongBoDia)</div>
    </div>
    <div class="display">
        <div class="display-label">Số lượng đĩa còn/bộ:</div>
        <div class="display-field"> @Html.DisplayFor(model => model.SoLuongHienCon)</div>
    </div>
    <div class="display">
        <div class="display-label">Trạng thái: </div>
        <div class="display-field">@Html.DisplayFor(model => model.TrangThai)</div>
    </div>
    <div class="display">
        <div class="display-label">Ngày tạo: </div>
        <div class="display-field">@Html.DisplayFor(model => model.NgayTao)</div>
    </div>
    <div class="display">
        <div class="display-label">Ẩn: </div>
        <div class="display-field">@Html.DisplayFor(model => model.An)</div>
    </div>
    <div class="display">
        <div class="display-label">Ngày cập nhật mới nhất: </div>
        <div class="display-field">@Html.DisplayFor(model => model.NgayCapNhat)</div>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaBD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
