@model WEBBANGDIA.Models.DatHang

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DatHang</legend>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.MaDH)*@
        Mã đặt hàng
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaDH)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.TaiKhoan.TenTK)*@
        Tên tài khoản
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TaiKhoan.TenTK)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.BangDia.TenBD)*@
        Tên băng đĩa
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BangDia.TenBD)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.LoaiHinhGiaoDich.TenLoaiHinh)*@
        Tên loại hình
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoaiHinhGiaoDich.TenLoaiHinh)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.NgayDat)*@
        Ngày đặt
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayDat)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
