@model WEBBANGDIA.Models.BangDia

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BangDia</legend>
        <div class="editor-label">
            Tên băng đĩa
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenBD)
            @Html.ValidationMessageFor(model => model.TenBD)
        </div>

        <div class="editor-label">
            Loại đĩa
        </div>
        <div class="editor-field">
            @Html.DropDownList("MaLoai", String.Empty)
            @Html.ValidationMessageFor(model => model.MaLoai)
        </div>

        <div class="editor-label">
            Hãng sản xuất
        </div>
        <div class="editor-field">
            @Html.DropDownList("MaHSX", String.Empty)
            @Html.ValidationMessageFor(model => model.MaHSX)
        </div>

        <div class="editor-label">
            Danh mục
        </div>
        <div class="editor-field">
            @Html.DropDownList("MaDM", String.Empty)
            @Html.ValidationMessageFor(model => model.MaDM)
        </div>

        <div class="editor-label">
            Chất lượng đĩa
        </div>
        <div class="editor-field">
            @Html.DropDownList("MaCL", String.Empty)
            @Html.ValidationMessageFor(model => model.MaCL)
        </div>

        <div class="editor-label">
            Tiêu đề
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.TieuDe)
            @Html.ValidationMessageFor(model => model.TieuDe)
        </div>

        <div class="editor-label">
            Nội dung phát
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>

        <div class="editor-label">
            Link ảnh đại diện
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AnhDaiDien)
            @Html.ValidationMessageFor(model => model.AnhDaiDien)<br/>
            <input type="button" id="btnBrowserImage" value="Browser" />
        </div>

        <div class="editor-label">
            Dung lượng đĩa/bộ đĩa
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DungLuongTong)
            @Html.ValidationMessageFor(model => model.DungLuongTong)
        </div>

        <div class="editor-label">
            Giá gốc
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gia)
            @Html.ValidationMessageFor(model => model.Gia)
        </div>

        <div class="editor-label">
            Giá khuyến mãi
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GiaKM)
            @Html.ValidationMessageFor(model => model.GiaKM)
        </div>

        <div class="editor-label">
            Số lượng đĩa/bộ
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoLuongBoDia)
            @Html.ValidationMessageFor(model => model.SoLuongBoDia)
        </div>

        <div class="editor-label">
            Số lượng đĩa còn/bộ
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoLuongHienCon)
            @Html.ValidationMessageFor(model => model.SoLuongHienCon)
        </div>

        <div class="editor-label">
            Trạng thái
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TrangThai)
            @Html.ValidationMessageFor(model => model.TrangThai)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
