@model WEBBANGDIA.Models.BangDia
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/GiaoDien.cshtml";
}
<style type="text/css">
    .main_details {
        padding: 10px;
        float: left;
        
    }

        .main_details .main_image {
            text-align: center;
            float: left;
            background: #a9a9a9;
            width: 95%;
            margin: 0px auto;
            border-bottom: #708090;
            margin-left:20px;
            margin-right:20px;
        }
        .main_details .main_image img {
            height: 400px;
            width: 100%;
            float: left;
            margin: 0 auto;
            
        }

        .main_details .main_title {
            float: left;
            width: 100%;
            margin: 0px auto;
            margin-left:20px;
            margin-right:20px;
        }
</style>

<h2 align="center">Sản phẩm </h2>
<div class="main_details">
    <div class="main_image">
        @if (Model.AnhDaiDien == null || Model.AnhDaiDien == "")
        {
            Model.AnhDaiDien = @"\Images\Temp\DVD.gif";
        }
        <img src="@Html.DisplayFor(model => model.AnhDaiDien)" />
    </div>
    
    <div class="main_title">
        Tên băng đĩa: @Html.DisplayFor(model => model.TenBD)
    </div>
    <div class="main_title">
        Số lượng đĩa trên bộ: @Html.DisplayFor(model => model.SoLuongBoDia)
    </div>
    <div class="main_title">
        Số lượng đĩa còn: @Html.DisplayFor(model => model.SoLuongHienCon)
    </div>
    <div class="main_title">
        Hãng sản xuất: @Html.DisplayFor(model => model.HangSanXuat.TenHSX)<br />
        Quốc gia: @Html.DisplayFor(model => model.HangSanXuat.QuocGia.TenQG)
    </div>
    <div class="main_title">
        Tiêu đề: @Html.DisplayFor(model => model.TieuDe)
    </div>
    <div class="main_title">
        Nội dung:  @Html.DisplayFor(model => model.NoiDung)
    </div>
    <div class="main_title">
        Lượt xem: @Html.DisplayFor(model => model.LuotView)
    </div>
    <div class="main_title">
        Lượt bán: @Html.DisplayFor(model => model.LuotBan)
    </div>
    <div class="main_title">
        Lượt thuê: @Html.DisplayFor(model => model.LuotThue)
    </div>

</div>
