@model WEBBANGDIA.Models.DanhMuc

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>DanhMuc</legend>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.MaDM)*@
        Mã danh mục
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaDM)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.TenDanhMuc)*@
        Tên danh mục
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenDanhMuc)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.An)*@
        Ẩn
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.An)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.NgayAn)*@
        Ngày ẩn
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayAn)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.NgayTao)*@
        Ngày tạo
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayTao)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
