@model WEBBANGDIA.Models.DanhMuc

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DanhMuc</legend>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.MaDM)*@
        Mã danh mục
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaDM)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.TenDanhMuc)*@
        Tên danh mục
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenDanhMuc)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.An)*@
        Ẩn
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.An)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.NgayAn)*@
        Ngày ẩn
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayAn)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.NgayTao)*@
        Ngày tạo
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayTao)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
