@model WEBBANGDIA.Models.YeuCau

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>YeuCau</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaYC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaYC)
            @Html.ValidationMessageFor(model => model.MaYC)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TenYeuCau)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenYeuCau)
            @Html.ValidationMessageFor(model => model.TenYeuCau)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
