@model IEnumerable<WEBBANGDIA.Models.LoaiTaiKhoan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.MaLoaiTK)*@Mã tài khoản
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.LoaiTK)*@Loại tài khoản
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaLoaiTK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiTK)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaLoaiTK }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaLoaiTK }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaLoaiTK })
        </td>
    </tr>
}

</table>
