@model WEBBANGDIA.Models.TaiKhoan

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        
        <div class="editor-label">Tên tài khoản
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenTK)
            @Html.ValidationMessageFor(model => model.TenTK)
        </div>

        <div class="editor-label">Họ tên 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoTen)
            @Html.ValidationMessageFor(model => model.HoTen)
        </div>

        <div class="editor-label">Năm sinh
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NamSinh)
            @Html.ValidationMessageFor(model => model.NamSinh)
        </div>

        <div class="editor-label">Số điện thoại
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoDienThoai)
            @Html.ValidationMessageFor(model => model.SoDienThoai)
        </div>

        <div class="editor-label">Email
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">Mật khẩu
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MatKhau)
            @Html.ValidationMessageFor(model => model.MatKhau)
        </div>

        <div class="editor-label">Loại tài khoản
        </div>
        <div class="editor-field">
            @Html.DropDownList("MaLoaiTK", String.Empty)
            @Html.ValidationMessageFor(model => model.MaLoaiTK)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
