@model IEnumerable<WEBBANGDIA.Models.TaiKhoan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.MaTK)*@Mã tài khoản
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TenTK)*@Tên tài khoản
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.HoTen)*@Họ tên
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NamSinh)*@Năm sinh
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.SoDienThoai)*@Số điện thoại
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Email)*@Email
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.MatKhau)*@Mật khẩu
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.LoaiTaiKhoan.LoaiTK)*@Loại tài khoản
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.An)*@Ẩn
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NgayAn)*@Ngày ẩn
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NgayTao)*@Ngày tạo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaTK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenTK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NamSinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoDienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatKhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiTaiKhoan.LoaiTK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.An)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayAn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.MaTK})|
            @Html.ActionLink("Details", "Details", new {id = item.MaTK}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.MaTK})
        </td>
    </tr>
}

</table>
