@model WEBBANGDIA.Models.LoaiHinhGiaoDich

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>LoaiHinhGiaoDich</legend>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.MaLoaiHinh)*@Mã loại hình
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaLoaiHinh)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.TenLoaiHinh)*@Tên loại hình
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenLoaiHinh)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.DatCoc)*@Đăth cọc
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DatCoc)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.ThanhToan)*@Thanh toán
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThanhToan)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
