@model IEnumerable<WEBBANGDIA.Models.LoaiHinhGiaoDich>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.MaLoaiHinh)*@Mã loại hình
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TenLoaiHinh)*@Tên loại hình
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.DatCoc)*@Đặt cọc
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ThanhToan)*@Thanh toán
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaLoaiHinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoaiHinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatCoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThanhToan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaLoaiHinh }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaLoaiHinh }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaLoaiHinh })
        </td>
    </tr>
}

</table>
