@model WEBBANGDIA.Models.TaiKhoan

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div style="margin: 0 auto; width: 300px;">
                <div style="text-align: center; font-family: Tahoma; font-size: 16px; height: 40px;"><b>Đăng nhập hệ thống</b></div>
                Nhập tài khoản: @Html.TextBoxFor(model => model.TenTK)<br/><br/>
                Nhập mật khẩu: @Html.PasswordFor(model => model.MatKhau)<br/><br/>
                <p style="padding-left: 50px"><input type="submit" value="Đăng nhập"/>@Html.ActionLink("Trang chủ", "Index","Home")</p>
            </div>
        }
    </body>
</html>