@model WEBBANGDIA.Models.LoaiDia

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>LoaiDia</legend>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.MaLoai)*@Mã loại
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaLoai)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.TenLoai)*@Tên loại
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenLoai)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.NgayTao)*@Ngày tạo
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayTao)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.An)*@Ngày ẩn
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.An)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
