@model IEnumerable<WEBBANGDIA.Models.BangDia>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách sản phẩm</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>Tên BD</th>
        <th>Loại đĩa</th>
        <th>HSX</th>
        <th>Danh mục</th>
        <th>Giá</th>
        <th>View</th>
        <th>Bán</th>
        <th>Thuê</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenBD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiDia.TenLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HangSanXuat.TenHSX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DanhMuc.TenDanhMuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChatLuong.TenCL)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.DungLuongTong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaKM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuotView)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuotBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuotThue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.MaBD  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.MaBD }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.MaBD  })
        </td>
    </tr>
}

</table>
