@model WEBBANGDIA.Models.DatHang

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>

    <div class="display">
        <div class="display-label">
            @*@Html.DisplayNameFor(model => model.MaDH)*@
            Mã đặt hàng
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.MaDH)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            @*@Html.DisplayNameFor(model => model.TaiKhoan.TenTK)*@
            Tên tài khoản
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TaiKhoan.TenTK)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            @*@Html.DisplayNameFor(model => model.BangDia.TenBD)*@
            Tên băng đĩa
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.BangDia.TenBD)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            @*@Html.DisplayNameFor(model => model.LoaiHinhGiaoDich.TenLoaiHinh)*@
            Tên loại hình
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LoaiHinhGiaoDich.TenLoaiHinh)
        </div>
    </div>
    <div class="display">
        <div class="display-label">
            @*@Html.DisplayNameFor(model => model.NgayDat)*@
            Ngày đặt
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NgayDat)
        </div>
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
