@model WEBBANGDIA.Models.HangSanXuat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>HangSanXuat</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaHSX)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaHSX)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenHSX)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenHSX)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuocGia.TenQG)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuocGia.TenQG)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayTao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayTao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.An)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.An)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayAn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayAn)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
